#
# .gitignore file
#
.rspec
.rvmrc
.bundle
vendor/bundle
log/*
tmp/*
db/*.sqlite3
db/schema.rb
public/system/*
coverage/
spec/tmp/*
config/database.yml
config/settings.yml
config/api_key.yml
config/terms_message.txt
config/unicorn.rb

