<div class="container">
  <div class="content" role="main">

    <div class="index">
      <div class="row">
        <div class="action-outer top">
          <div class="action-middle">
            <%= link_to "安否情報を提供する", :action => :provide %>
          </div>
        </div>
        <br/>
        <div class="action-outer bottom">
          <div class="action-middle">
            <%= link_to "人を探している", :action => :seek %>
          </div>
        </div>
        <div class="end-multi-columns"></div>
      </div>
      <div class="row stats">

      </div>
      <div class="row custom-message">

      </div>
    </div>

  </div>
</div>