<% if params[:name].present? %>
  <% if @person.present? %>
    <%= render :partial => "person_exist_mobile", 
      :locals => {:name => params[:name], :person => @person, :role => "seek"} %>
  <% else %>
    <%= render :partial => "person_not_exist_mobile", 
      :locals => {:name => params[:name]} %>
  <% end %>
<% end %>

<p></p>

<div><%= link_to "<< 検索ページに戻る", :action => :seek,
                :family_name => @query_family,
                :given_name => @query_given,
                :name => reencode_for_mobile(@query) %></div>
<%= link_to "<< 最初のページに戻る", :action => :index %>
<br/>
