#-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-#
#  http://www.google.com/recaptcha からAPIキーを取得してください  #
#-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-#

Recaptcha.configure do |config|
  config.public_key  = '****************************************'
  config.private_key = '****************************************'
  config.proxy       = '**********************'  # プロキシがある場合は設定する
end