# -*- coding:utf-8 -*-
# LGDPF ActiveResource settings
ldgpf:
  development:
    site: 
    user: 
    password: 
    proxy: 
  test:
    site: 
    user: 
    password: 
    proxy: 
  production:
    site: 
    user: 
    password: 
    proxy:
  mail:
    address: 
    port: 
    domain: 
    user_name: 
    password: 
    host: 
    from: 
gpf:
  api_key:
  repository:
  domain: