# -*- coding:utf-8 -*-
development:
  site:
  # smtpの設定
  mail:
    address:
    port:
    domain:
    user_name:
    password:
    host:
    from:
  # 画面のHeaderに表示するバナーの設定
  banner:
    # Rails.root/app/assets/imagesに参照する画像ファイルを置く
    image_file:
    description:
test:
  site:
  # smtpの設定
  mail:
    address:
    port:
    domain:
    user_name:
    password:
    host:
    from:
  # 画面のHeaderに表示するバナーの設定
  banner:
    # Rails.root/app/assets/imagesに参照する画像ファイルを置く
    image_file:
    description:
production:
  site:
  # smtpの設定
  mail:
    address:
    port:
    domain:
    user_name:
    password:
    host:
    from:
  # 画面のHeaderに表示するバナーの設定
  banner:
    # Rails.root/app/assets/imagesに参照する画像ファイルを置く
    image_file:
    description:
