# -*- coding:utf-8 -*-
lgdpf:
  development:
    site: 
    user: 
    password: 
    proxy: 
  test:
    site: 
    user: 
    password: 
    proxy: 
  production:
    site: 
    user: 
    password: 
    proxy:
  mail:
    address: 
    port: 
    domain: 
    user_name: 
    password: 
    host: 
    from:
  banner:
    img:  # Rails.root/app/assets/imagesに参照する画像ファイルを置く
    desc:
gpf:
  api_key:
  repository:
  domain: