利用規約（サンプル）

プライバシーおよび著作権の保護について

　××市は、個人情報保護条例にしたがって、ユーザーの個人データを利用できることに同意します。
　入力された、情報著作権は、××市に帰属し、情報の追加、削除を行う場合があります。
　また、××市は、公序良俗に反する情報や故意に虚偽の情報を記載することを禁止します。
 
本サービスの変更または終了

　××市は、機能性や機能の追加や削除を行うことができ、本サービス全体を一時停止または終了する
　ことができます。

保証について

　××市は、ユーザーが入力した、情報内容の真偽は、保証を行いません。
